[Unit]
Description=Power Observer Telegram Bot
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python3 /usr/bin/powerobserver/power_observer_bot.py --config /usr/bin/powerobserver/config.json

[Install]
WantedBy=multi-user.target